body {
    font-family: "Playwrite IS", cursive;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #480053;
    color: #000000;
}

header {
    background-color: #904AE8;
    color: rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0 0;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em;
    margin: 1em auto;
    width: 80%;
    background-color: #8d6eff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2 {
    margin-top: 0;
}
.project, .job {
    margin: 1em 0;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background-color: #f4f4f4;
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ddd;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-top: 0.5em;
}

#contact input, #contact textarea {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

#contact input[type="submit"] {
    background-color: #7D00FF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 1em;
}

#contact input[type="submit"]:hover {
    background-color: #FF71FF;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #7D00FF;
    color: white;
}
